.showcase{
    position: absolute;
    right: 0;
    width: 90%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    transition: 0.5s;
    z-index: 2;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: right;
}
header .logo{
    color: black;
    text-transform: uppercase;
    cursor: pointer;
}
